<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet" />
        <meta name="description" content="Benjie's personal website" />
        <meta name="author" content="Benjie" />
        <meta property="og:title" content="Benjie" />
        <meta property="og:description" content="Benjie's personal website" />
        <meta property="og:image" content="/favicon.webp" />
        <meta property="og:url" content="https://benjiewheeler.github.io" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Benjie" />
        <meta property="og:twitter:card" content="summary" />
        <meta property="og:twitter:site" content="@benjie_wh" />
        <meta property="og:twitter:creator" content="@benjie_wh" />
        <meta name="generator" content={Astro.generator} />
        <title>Benjie</title>
    </head>
    <body class="bg-white font-cairo text-black dark:bg-zinc-950 dark:text-white">
        <slot />
    </body>
</html>
